@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #e04652;
  --color-dark: #3e3838;
  --color-light: #ffffff;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: "Inter", "Poppins", sans-serif;
  --font-mono: "Courier New", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}
